<h2>List of Users</h2>
<a routerLink="/create" class="btn btn-success">Create user</a>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Name:</th>
      <th>Age:</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of users">
      <td>{{item.name}}</td>
      <td>{{item.age}}</td>
      <td>
        <div class="btn-group">
          <button (click)="gotoEdit(item.id)" class="btn btn-warning">Edit</button>
          <button (click)="deleteUser(item)" class="btn btn-danger">Delete</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
<!-- <ul>
  <li *ngFor="let item of users">
    {{item.name}},
  </li>
</ul> -->
