<div>{{town|uppercase}}</div>
<div>{{town|lowercase}}</div>
<div>{{pi|number}}</div>
<div>{{pi|percent}}</div>
<div>{{pi|currency}}</div>
<div>{{town|slice:4:10}}</div>
<div>{{town|slice:-7}}</div>
<div>{{num|number:"2.1-5":"pl"}}</div>
<div>{{num|number:"1.5-5"}}</div>
<div>{{num|currency:"UAH":"code":"1.5-5"}}</div>
<div>{{num|currency:"UAH":"symbol":"1.1-2"}}</div>
<div>{{num|currency:"UAH":"symbol-narrow":"1.1-2"}}</div>
<div>{{num|currency:"CAD":"symbol":"1.1-2"}}</div>
<div>{{num|currency:"CAD":"symbol-narrow":"1.1-2"}}</div>
<div>{{num|currency:"UAH":"гривни":"1.1-2":"pl"}}</div>
<div>{{pi|percent:"1.1-3":"pl"}}</div>
