
<p><span>Id:</span>{{toDoItem.id}}</p>
<p><span>Name:</span>{{toDoItem.name}}</p>
<p><span class="red">isFinished:</span>{{toDoItem.isFinished ? 'yes':'no'}}</p>
<ul class="items">
  <li *ngFor="let item of itemsList" (click)="onSelect(item)" class="items" [class.selected]="selectedItem==item">
    {{item.name}}
  </li>
</ul>
<hr>
<div class="editform" *ngIf="selectedItem">
  <div>
    <label>Title</label>
    <input [(ngModel)]="selectedItem.name">
  </div>
  <div>
    <label>Is finished?</label>
    <input type="checkbox" [(ngModel)]="selectedItem.isFinished">
  </div>
</div>
<hr>
<div *ngIf="itemsList.length>0" >
  {{itemsList.length}}
  <span [ngSwitch]="itemsList.length">
    <span *ngSwitchCase="1">справа</span>
    <span *ngSwitchCase="2">справи</span>
    <span *ngSwitchCase="3">справи</span>
    <span *ngSwitchCase="4">справи</span>
    <span *ngSwitchDefault>справ</span>
  </span>
</div>
<footer>

  <div>
    <a [href]="homePageURL" [class.redFont]="true" [class.blueFont]="blueFont">Path Of Exile</a>
    <br>
    <a href="google.com" [ngClass]="{googleClasses}">GOOGLE</a>
  </div>

  <input type="checkbox" [(ngModel)]="blueFont">
  <label [ngStyle]="lblStyles">Blue Font</label>
</footer>
