p>span{
  display: inline-block;

  width: 100px;

}

.items{

  list-style-type: none;

  width: 30em;
}

.items li{

  background-color: #EEE;

  margin: 0.5em 0;

  padding: 0.3em;

  border-radius: 4px;

  cursor: pointer;

  font-weight: 500;

  /* height: 1.6em; */

}

.items li:hover{

  background-color: #DDD;

  color: #607D8E;

}

.redFont{
  font-size: 16px;
  font-family: verdana,sans-serif;
  color:brown;
  background-color: #EEE;
}
.blueFont{
  font-size: 18px;
  font-family: 'Segoe UI',  sans-serif;
  color:blue;
  background-color: #DDD;
}
