<div class="container">
  <div class="row w-25">
    <!-- <div class="col-3"></div> -->
    <input type="hidden" [(ngModel)]="user.id" class="form-control">
    <div class="mb-3">
      <label class="form-label" for="name">User Name:</label>
      <input type="text" [(ngModel)]="user.name" class="form-control">
    </div>
    <div class="mb-3">
      <label class="form-label" for="age">User Age:</label>
      <input type="number" [(ngModel)]="user.age" class="form-control">
    </div>
    <button (click)="putUser(user)" class="btn btn-success">Save</button>
    <button (click)="clear()" class="btn btn-secondary">Clear Form></button>
  </div>
  <hr>
  <!-- <div *ngIf="done">
    <p>{{user.name}}</p>
    <p>{{user.age}}</p>
  </div> -->
</div>
