<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
   <h2>{{title | uppercase}}</h2>
   <app-to-do-items></app-to-do-items><hr>
   <!-- <app-pipes-test></app-pipes-test> -->
   <!-- <h2>1 Component</h2>
   <app-data-list></app-data-list>
   <hr>
   <h2>2 Component</h2>
   <app-data-list></app-data-list> -->
   <!-- <hr>
   <app-user-info></app-user-info> -->
   <hr>
   <app-user-list></app-user-list>
   <hr>
   <app-sum-calc></app-sum-calc>
</body>
</html>
